/* Main CSS */

body
{
    background-color:#eeeeee;
}

table
{
    border-collapse:collapse;
}

table, th, td
{
    border: 1px solid black;
    max-width: 30%;
}

textarea
{
    font-family: inherit;
    font-size: inherit;
}

.helplink
{
    float: right;
    font-size: smaller;
}

div
{
    display:block;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}


/* Mobile-specific CSS*/
@media screen and (max-device-width: 480px)
{
    body
    {
        -webkit-text-size-adjust:none;
        padding:5px;
        max-width:320px;
        /*max-height:480px;*/
        background-color:#eeeeee;
    }

    div
    {
        margin:0;
        padding:0;
    }

    #wrap
    {
        overflow:auto;
        width:320px;
        /*height:480px;*/
    }

}